<div class="container" *ngIf="!data">
  <button id ="btn" (click)="OnClick()">Get Students Data</button>
  </div>

  <div class="container" *ngIf="data?.length">
    <button id ="btn" (click)="OnEraseButtonClick()">Erase Students Data</button>
    </div>
  
<table id="customers" *ngIf="data">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>RollNo</th>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{item.id}}</td>
    <!-- <td>{{item.name | titlecase}}</td> -->
    <td>{{item.title | titlecase}}</td>
    <!-- <td>{{item.rollNo}}</td> -->
    <td>{{item.userId}}</td>
  </tr>

</table>