<div class="container" *ngIf="!data">
  <div class="vertical-center">
    <button (click)="OnClick()" class="block">Get Students Data</button>
  </div>
</div>
<div class="container" *ngIf="data?.length">
  <div class="vertical-center">
    <button (click)="OnEraseButtonClick()" class="block">Erase Students Data</button>
  </div>
</div>




<table id="customers" *ngIf="data">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>RollNo</th>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{item.id}}</td>
    <td>{{item.title | titlecase}}</td>
    <td>{{item.userId}}</td>
  </tr>

</table>